<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AtlasGrove{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

   {% stylesheets '@bootstrap_css' %}
        <!--link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/-->
    {% endstylesheets %}

    </head>
    <body>
  
<!--
 renderer.render(menu) | raw 
 knp_menu_render('main')  
 knp_menu_render('AppBundle:Builder:createMainMenu')
-->

   <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AtlasGrove</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="https://github.com/lasellers/AtlasGrove/wiki">About</a></li>
              <!--li><a href="/contact">Contact</a></li-->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/map/states">States</a></li>
                  <li><a href="/map/counties">Counties</a></li>
                  <li><a href="/map/roi">ROI</a></li>
                  <li><a href="/map/steps">Steps</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raw <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/raw/years">Years</a></li>
                  <li><a href="/admin/raw/states">States</a></li>
                  <li><a href="/admin/raw/counties">Counties</a></li>
                  <li><a href="/admin/raw/files">Files</a></li>
                 <!--li role="separator" class="divider"></li-->
              </ul>
              </li>

              <!--li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Render <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/states">States</a></li>
                  <li><a href="/admin/counties">Counties</a></li>
                  <li><a href="/admin/id">Id</a></li>
                  <li><a href="/admin/roi">ROI</a></li>
                </ul>
              </li-->

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!--li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li-->
               <!--li><a href="/admin/">Login</a></li-->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>



      {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">/script>

    {% javascripts '@jquery' '@bootstrap_js' %}
        <!--script type="text/javascript" src="{{ asset_url }}"></script-->
    {% endjavascripts %}

    </body>

</html>
