{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
       

            <div id="status">
                
            </div>

<h3>Maps</h3>
<ul id="">
        {% for map in maps %}
            <li> <a href="{{map_base}}{{ map }}">{{map_base}}{{map}}<img class="map-preview" src="{{map_base}}{{ map }}"></a></li>
        {% endfor %}
        </ul>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
